@mixin fluid-text($min, $max) {
  font-size: clamp(#{$min}px, #{$max / 1920 * 100}vw, #{$max}px);
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.container{
  display: flex;
  flex-direction: column;
  background-color: rgba(183, 131, 221, 0.29);
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  max-width: 400px;
  width: 80%;
  overflow-wrap: break-word;
}

.goal-list {


  padding: 20px;


  &:empty {
    display: none;
  }

  &__item {
    list-style-type: none;
    background-color: #e3c79c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    padding: 10px;
    width: 50vw;
    max-width: 80%;
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 80%;
    overflow-wrap: break-word;
  }

  &__title {
    font-weight: bold;
    @include fluid-text(10, 20);
    margin-bottom: 3px;
    color: #6e5380;
  }

  &__description {
    @include fluid-text(8, 18);
    color: rgba(110, 83, 128, 0.45);
  }

  &__delete-button {

    height: 16px;
    width: 16px;
    margin-right: 10px;
    background-color: rgba(183, 131, 221, 0.29);
    border-radius: 5px;
    flex-shrink: 0;
    transition: 0.3s ease-in-out;

    &:hover {
      background-color: rgba(142, 99, 171, 0.29);
      scale: 1.2;
    }
  }

  &__delete-button-icon {
    width: 10px;
    height: 10px
  }
}

.goals-form {
  margin: 0 0 16px;


  padding: 16px;
  overflow-wrap: break-word;

  &__input {
    width: 50vw;
    max-width: 80%;
    padding: 8px;
    border: none;
    border-radius: 10px;
    background-color: #e3c79c;
    color: #300041;
    @include fluid-text(10, 15);

    &:focus {
      outline: solid 2px #aa7ab8;
    }
  }
    &__add-button{
        background-color: rgba(255, 204, 228, 0.55);
        color: rgba(110, 83, 128);
        width: 50vw;
        max-width: 80%;
        padding: 10px;
        font-weight: bold;
        @include fluid-text(10, 17);
        transition: background-color 0.3s;

        &:hover {
            background-color: rgba(200, 157, 181, 0.59);
        }
    }
}

  @media (max-width: 625px) {

      .goals-form__delete-button {
          height: 12px;
          width: 12px;
          border-radius: 4px;
      }

      .goals-form__delete-button-icon {
          width: 6px;
          height: 6px
      }
  }