*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    background-color: #242222;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
